* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.rout-page-header {
    background-color: #666;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
}

.rout-page-nav{
    float: left;
    width: 20%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

.rout-page-nav-ul{
    list-style-type: none;
    padding: 0;
}

.rout-page-article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}

section:after {
    content: "";
    display: table;
    clear: both;
}

.rout-page-footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
